.body {
    background-image: url('images/cork-board.png');
}

.nasa {
    background-image: url('images/moon-background-photo.png');
    background-size: cover;
}

#time {
    text-align: center;
    font-size: 20px;
    color: white;
}

#dntPress {
    background-color: red;
}

.nav {
    background-color: dimgray;
}

#button {
    background-color: red;
}

#options {
    display: inline;
    border-color: lightgray;
    color: gray;
}

#search {
    border-radius: 15px;
    padding-bottom: 5px;
    margin: 0px;
    background-color: dimgray;
    color: white;
    text-align: center;
    width: 175px;
}

#form {
    width: 85%;
    border: 1px solid black;
    background-color: white;
}

#submitBtn {
    background-color: dimgray;
}

#randBtn {
    font-size: large;
    background-color: red;
}

.title {
    text-align: center;
    color: white;
}

.date {
    text-align: center;
    color: white;
}

.explanation {
    background-color: dimgray;
    color:white;
    border-radius: 10px;
    padding: 200px;
}

#date {
    background-color: white;
    height: 40px;
}

#dateTitle {
    text-align: center;
    color: white;   
}

#nasaBtn {
    background-color: red;
}