.body {
    background-image: url('images/cork-board.png');
}

.nasa {
    background-image: url('images/moon-background-photo.png');
    background-size: cover;
}

#time {
    text-align: center;
    font-size: 20px;
    color: white;
}

#dntPress {
    background-image: url('images/space.png');
    background-size: cover;
    font-size: large;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#nasaPress {
    background-color: teal;
}

.nav {
    background-color: dimgray;
}

#button {
    background-color: red;
}

#options {
    display: inline;
    border-color: lightgray;
    color: gray;
}

#search {
    border-radius: 15px;
    padding-bottom: 5px;
    margin: 0px;
    background-color: dimgray;
    color: white;
    text-align: center;
    width: 175px;
}

#form {
    width: 85%;
    border: 1px solid black;
    background-color: white;
}

#submitBtn {
    background-color: dimgray;
}

#randBtn {
    font-size: large;
    background-color: teal;
}
#favesBtn {
    font-size: large;
    background-color: teal;
}

.title {
    text-align: center;
    color: white;
}

.date {
    text-align: center;
    color: white;
}

.explanation {
    /* background-color: dimgray; */
    color:white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    border-radius: 10px;
    padding: 200px;
}

#date {
    background-color: white;
    height: 40px;
}

#dateTitle {
    text-align: center;
    color: white;   
}

#nasaBtn {
    background-color: teal;
    height: 38px;
}

.heart {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 30px;
    z-index: 2;
    right: 40px;
    font-size: 45px;
}

.card-panel{
   text-align: center !important;
   background-color: teal !important;
font-size: x-large;
color: white;
};